body {
  color: #494949;
  margin: 0px;
  padding: 0px;
  font-family: 'Vidaloka', serif;
}

h1{
  color:  white;
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 35px;
  color:  white;
}

h3 {
  color: #A0A0A0;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
}

a {
  color: #636363;
  text-decoration: none;
  font-family: 'Vidaloka', serif;
  background: linear-gradient(#EDFCF1, #9ffcb9);
}

a:hover {
    background: linear-gradient(#9ffcb9, #78BF8C);
}

.banner {
  background-image: url("https://source.unsplash.com/random");
  width:100%;
  background-size: cover;
  height: 350px;
  padding-top: 80px;
  padding-bottom: 120px;
}

.container{
  width: 600px;
  margin: 50px auto;
}

.text-banner {
  width: 55%;
  margin: 100px auto;
}

@media(max-width: 1200px) {
  .container {
    width: 600px;
  }
  .banner {
    width: 100%;
  }
}

@media(max-width: 992px) {
  .container {
    width: 500px;
  }
  .banner {
    width: 100%;
  }
}

@media(max-width: 768px) {
  .container {
    width: 400px;
  }
  .banner {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
  .banner {
    width: 100%;
  }
}
